# Sentiment Analysis
## The FAST AI way

In [4]:
import pandas as pd

In [59]:
path_to_file = "twitter-airline-sentiment/"
file_name = "Tweets.csv"

In [48]:
# Read csv
raw_data = pd.read_csv(path_to_file + file_name)

In [49]:
raw_data.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [50]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
tweet_id                        14640 non-null int64
airline_sentiment               14640 non-null object
airline_sentiment_confidence    14640 non-null float64
negativereason                  9178 non-null object
negativereason_confidence       10522 non-null float64
airline                         14640 non-null object
airline_sentiment_gold          40 non-null object
name                            14640 non-null object
negativereason_gold             32 non-null object
retweet_count                   14640 non-null int64
text                            14640 non-null object
tweet_coord                     1019 non-null object
tweet_created                   14640 non-null object
tweet_location                  9907 non-null object
user_timezone                   9820 non-null object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB

In [51]:
# the goal if the challenge is to find classify a tweet sentiment based on text
# so we can discard the rest of the data
filtered_data  = raw_data[['airline_sentiment', 'text']]
filtered_data.head()

  airline_sentiment                                               text
0           neutral                @VirginAmerica What @dhepburn said.
1          positive  @VirginAmerica plus you've added commercials t...
2           neutral  @VirginAmerica I didn't today... Must mean I n...
3          negative  @VirginAmerica it's really aggressive to blast...
4          negative  @VirginAmerica and it's a really big bad thing...

In [52]:
# convert sentiment text into numeric
def s_t_n(sentiment):
    if sentiment == "negative":
        return -1
    elif sentiment == "positive":
        return 1
    else:
        return 0

filtered_data['labels'] = filtered_data['airline_sentiment'].apply(lambda x: s_t_n(x))
filtered_data.head()

/home/milla/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

  airline_sentiment                                               text  labels
0           neutral                @VirginAmerica What @dhepburn said.       0
1          positive  @VirginAmerica plus you've added commercials t...       1
2           neutral  @VirginAmerica I didn't today... Must mean I n...       0
3          negative  @VirginAmerica it's really aggressive to blast...      -1
4          negative  @VirginAmerica and it's a really big bad thing...      -1

In [53]:
del filtered_data['airline_sentiment']

In [60]:
# save the filted data
filtered_data.to_csv("/".join([path_to_file, "filtered.csv"]) ,header=False, index=False)

In [56]:
print('/'.join([path_to_file, "n"]))

twitter-airline-sentiment/Tweets.csv/n

## Language Model Tokens